@font-face {
  font-family: Sora;
  src: url("./assets/fonts/Sora/Sora-VariableFont_wght.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;
}

@layer base {
  .text-preset-1 {
    font-family: var(--font-sora);
    font-weight: 700; /* bold */
    font-size: 2.5rem;
    line-height: 136%;
    letter-spacing: 0.025rem;
  }

  .text-preset-1-mobile {
    font-family: var(--font-sora);
    font-weight: 700; /* bold */
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0.02rem;
  }

  .text-preset-1-regular {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 2.5rem;
    line-height: 136%;
    letter-spacing: 0.025rem;
  }

  .text-preset-1-regular-mobile {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 2rem;
    line-height: 136%;
    letter-spacing: 0.025rem;
  }

  .text-preset-2 {
    font-family: var(--font-sora);
    font-weight: 700; /* bold */
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0rem;
  }

  .text-preset-3 {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.0375rem;
  }

  .text-preset-3-mobile {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.03rem;
  }

  .text-preset-3-semiBold {
    font-family: var(--font-sora);
    font-weight: 600; /* semi-bold */
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.0187rem;
  }

  .text-preset-4 {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: -0.0375rem;
  }

  .text-preset-5 {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.03rem;
  }

  .text-preset-6 {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 0.75rem;
    line-height: 120%;
    letter-spacing: 0rem;
  }
}
