@font-face {
  font-family: Sora;
  src: url("./assets/fonts/Sora/Sora-VariableFont_wght.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;

  --color-neutral-900: rgb(18, 18, 18);
  --color-neutral-800: rgb(38, 38, 38);
  --color-neutral-500: rgb(113, 113, 120);
  --color-neutral-400: rgb(148, 148, 151);
  --color-neutral-0: rgb(255, 255, 255);
  --color-blue-600: rgb(23, 125, 255);
  --color-blue-400: rgb(76, 166, 255);
  --color-red-500: rgb(214, 77, 91);
  --color-green-500: rgb(77, 214, 123);
  --color-yellow-400: rgb(244, 220, 115);

  --spacing-25: 2px;
  --spacing-50: 4px;
  --spacing-75: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

@layer base {
  .text-preset-1 {
    font-family: var(--font-sora);
    font-weight: 700; /* bold */
    font-size: 2.5rem;
    line-height: 136%;
    letter-spacing: 0.025rem;
  }

  .text-preset-1-mobile {
    font-family: var(--font-sora);
    font-weight: 700; /* bold */
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0.02rem;
  }

  .text-preset-1-regular {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 2.5rem;
    line-height: 136%;
    letter-spacing: 0.025rem;
  }

  .text-preset-1-regular-mobile {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 2rem;
    line-height: 136%;
    letter-spacing: 0.025rem;
  }

  .text-preset-2 {
    font-family: var(--font-sora);
    font-weight: 700; /* bold */
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: 0rem;
  }

  .text-preset-3 {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.0375rem;
  }

  .text-preset-3-mobile {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.03rem;
  }

  .text-preset-3-semiBold {
    font-family: var(--font-sora);
    font-weight: 600; /* semi-bold */
    font-size: 1.25rem;
    line-height: 120%;
    letter-spacing: -0.0187rem;
  }

  .text-preset-4 {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: -0.0375rem;
  }

  .text-preset-5 {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: -0.03rem;
  }

  .text-preset-6 {
    font-family: var(--font-sora);
    font-weight: 400; /* regular */
    font-size: 0.75rem;
    line-height: 120%;
    letter-spacing: 0rem;
  }
}
